 @font-face {
  font-family: 'KoreanFrenchTypewriter';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/KoreanFrenchTypewriter.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

main {
  width: 100%;
  max-width: 100vw;
  height: 100vh;
}

#HomeContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  background-size: cover;
  background-position: center;
  background-image: url("./MainPage.jpg");
}

.box{
  height: 100%;
  width: 80%;
  background-color: antiquewhite;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  flex-direction: column;
  justify-content: center;

  padding-top: 5em;
  padding-left: 5em;
}

.box p{
  font-family: 'KoreanFrenchTypewriter';
  font-size: 2.5em;
  color: #000;
  margin-left: 3%;
}

h3{
  font-family: 'KoreanFrenchTypewriter';
  font-size: 2.5em;
  color: #000;
  bottom:12%;
  right:15%;
  float: right;
  position: absolute;
}

button  {
  width:11em;
  height:4em;
  position: absolute;
  bottom:5%;
  right:10%;

  background-color: #1F5378;
  border-radius: 2.5em;

  font-family: 'Noto Sans KR', sans-serif;
  color: white;
}

button:hover{
  background: none;
  cursor: pointer;
  border-color: #1F5378;
  color: #1F5378;
}

a{
  font-family: 'Noto Sans KR', sans-serif;
  text-decoration: none;
  font-size: 2em;
  color: white;
}

a:hover{
  font-family: 'Noto Sans KR', sans-serif;
  text-decoration: none;
  font-size: 2em;
  color: #1F5378;
}