@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap");
main {
  width: 100%;
  max-width: 100vw;
  height: 100vh;
}

@font-face {
  font-family: 'RixYeoljeongdo_Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/RixYeoljeongdo_Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.HomeContainer {
  display: flex;
  min-width: 100%;
  min-height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-size: cover;
  background-position: center;
  background-image: url("./MainPage.jpg");
  z-index: -1;
}

.round {
  background-color: white;
  opacity: 0.6;
  border-radius: 5em;

  flex-direction: column;
  justify-content: center;

  width: 80%;
  height: 80%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.left {
  z-index: 1;
  align-self: flex-end;
  margin-left: 2%;
}

.right {
  z-index: 1;
  align-self: flex-end;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

.center span {
  font-family: "Noto Sans KR", sans-serif;
  color: #1f5378;
  text-align: center;
  font-size: 6rem;
}

.center h2 {
  font-family: "Noto Sans KR", sans-serif;
  color: #444444;
  opacity: 0.8;
  text-align: center;
  margin-top: 25%;
}

.boss {
  width: 60vh;
  height: 60vh;
}

.student {
  width: 55vh;
  height: 63vh;
}

.startBtn {
  font-family: "Noto Sans KR", sans-serif;
  text-decoration: none;
  font-size: 2em;
  color: white;
  align-self: center;
  text-align: center;
  background-color: #1f5378;
  border-radius: 3em;
  width: 45%;
  padding: 1.5%;
  margin-top: 10%;
}

.startBtn:hover {
  font-family: "Noto Sans KR", sans-serif;
  text-decoration: none;
  font-size: 2em;
  color: #1f5378;
  background: none;
}

@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}

.mainText {
  height: 100px;
}

.mainText span {
  position: relative;
  top: 20px;
  display: inline-block;
  animation: bounce 0.3s ease infinite alternate;
  font-family: 'RixYeoljeongdo_Regular';
  font-size: 100px;
  color: #1f5378;
  text-shadow: 0 1px 0 rgb(248, 242, 226), 0 2px 0 rgb(248, 242, 226), 0 3px 0 rgb(248, 242, 226), 0 4px 0 rgb(248, 242, 226),
    0 5px 0 rgb(248, 242, 226), 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
    0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}

.mainText span:nth-child(2) {
  animation-delay: 0.1s;
}
.mainText span:nth-child(3) {
  animation-delay: 0.2s;
}
.mainText span:nth-child(4) {
  animation-delay: 0.3s;
}
.mainText span:nth-child(5) {
  animation-delay: 0.4s;
}
.mainText span:nth-child(6) {
  animation-delay: 0.5s;
}
.mainText span:nth-child(7) {
  animation-delay: 0.6s;
}
.mainText span:nth-child(8) {
  animation-delay: 0.7s;
}

@keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 rgb(248, 242, 226), 0 2px 0 rgb(248, 242, 226), 0 3px 0 rgb(248, 242, 226), 0 4px 0 rgb(248, 242, 226),
      0 5px 0 rgb(248, 242, 226), 0 6px 0 rgb(248, 242, 226), 0 7px 0 rgb(248, 242, 226), 0 8px 0 rgb(248, 242, 226), 0 9px 0 rgb(248, 242, 226),
      0 50px 25px rgba(0, 0, 0, 0.2);
  }
}

.ranking-text {
  font-family: "Noto Sans KR", sans-serif;
  text-decoration: #1f5378;
  font-size: 1em;
  color: #1f5378;
  background: none;
  text-align: center;
  margin-top: 5%;
}
