.ModalContainer{
    display: flex;
    justify-content: center;
    z-index: 3;
}

.ModalImage{
    opacity: 0.5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}