
.gameover_text{
    margin-top: 150px;
}
.end{
    width:11em;
    height:4em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 150px;

    background-color: #1F5378;
    border-radius: 2.5em;  
    font-family: 'Noto Sans KR', sans-serif;
    color: white;
}