@font-face {
    font-family: 'KoreanFrenchTypewriter';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/KoreanFrenchTypewriter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  .divContainer {
    background: url("../../assets/images/classroom.jpg");
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    position: fixed;
    background-size: cover;
    background-position: center;
    justify-content: center;
    z-index: 1;
  }

  .gameover-container {
    width: 80%;
    height: 80%;
    background-color: beige;
    border-radius: 30px;
    z-index: 2;
    margin: 30px;
    opacity: 0.8;
  }
  
    .gameover_text{
        text-align: center;
        font-size: 100px;
        font-family: 'Noto Sans KR', sans-serif;
        text-decoration: none;
        margin-top: 200px;
        color: #1f5378;
    }

    .time_text{
        text-align: center;
        font-size: 60px;
        font-family: 'Noto Sans KR', sans-serif;
        text-decoration: none;
        color: black;
    }
    .go_game{
        text-align: center;
        color: black;
        font-size: 16px;
        margin-top: 140px;
    }

    .check{
        width: 50px;
        height: 50px;
        vertical-align: middle;
        margin-left: 10px;
        /* padding-top: 65px; */
        /* margin-top: 10px; */
        /* */
    }
    .rank_name{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 180px;
   }
    .input_name{
        width: 230px;
        height: 50px;
        padding: 1em 1.5em;
        outline: none;
        border: 1px solid transparent;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 20px;
        box-sizing: border-box;
        color: black;
        border-bottom-color: black;
        text-align: center;
        margin-left: 16px;
        background: none;
        margin-bottom: 5em;

        
    }

    .no_rank{
      text-align: center;
      font-family: 'Noto Sans KR', sans-serif;
      color: #1f5378;
      margin-top: 10px;
      font-size: 16px;
      padding-top:15em;
      text-decoration: none;
  }